# -------------------------------
# Dart / Flutter
# -------------------------------
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Build outputs
/build/
**/build/
**/ios/Flutter/.last_build_id

# Generated API docs
doc/api/

# Obfuscation / Symbolication
app.*.map.json
app.*.symbols

# -------------------------------
# Android
# -------------------------------
android/.gradle/
android/app/*.apk
android/app/*.ap_
android/app/debug/
android/app/profile/
android/app/release/
*.jks
*.keystore

# Gradle
.gradle/
**/gradle-wrapper.jar
gradle-wrapper.properties
gradle-wrapper.jar

# Local properties
local.properties

# -------------------------------
# iOS / macOS
# -------------------------------
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
macos/Pods/
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/

# Xcode files
*.xcworkspace
*.xcuserstate
*.xcodeproj/
*.xcassets/

# Provisioning
*.mobileprovision

# -------------------------------
# VS Code
# -------------------------------
.vscode/

# -------------------------------
# IntelliJ / Android Studio
# -------------------------------
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

# -------------------------------
# Misc
# -------------------------------
*.class
*.log
*.pyc
*.swp
*.tmp
*.temp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
**/*.env